<!DOCTYPE html>
<html lang="en">
  <head>
    {% include ['common-page-elements/head.md', 'common-page-elements/head.html'] ignore missing %}
    <title>{{ title }} - Jen Beck, LMFT, LPC - Jen Beck Therapy - Eugene, Oregon</title>
    <meta name="description" content="{{ meta_description }}">
  </head>
  <body>
    <header>
    {% include ['common-page-elements/header.md', 'common-page-elements/header.html'] ignore missing %}
    </header>
    <main>
      <h1>{{ title }}</h1>
      {{ content }}
    </main>
    <footer>
    {% include ['common-page-elements/footer.md', 'common-page-elements/footer.html'] ignore missing %}
  </footer>
  </body>
</html>
